.main_grid {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.side_grid {
    position: relative;
    grid-column: 1 / span 1;
    grid-row-start: 1;
    background-color: rgb(55, 4, 71);
}

.content_grid {
    position: relative;
    grid-column: 2 / span 1;
    grid-row-start: 1;
}

.side_button_container {
    margin: 90px;
    margin-top: 150px;
}

.button_container {
    margin: 150px 100px 0 30px;
    display: flex;
    justify-content: space-between;
}

.button_container button, .side_button_container button {
    height: 30px;
    padding: 0.5em;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button_container button:nth-child(3) {
    height: 200px;
}

.text_field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.text_field div {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    resize: none;
    cursor: text;
    box-sizing: border-box;
    border: 1.5px solid grey;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    padding: 0.5em;
}